<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/doc2.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedan+SC&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="whole">
        <div class="left">
            <div class="logo">
                <img src="../public/image/NextHosp.png" alt="">
            </div>
            <div class="menu">
                <button>
                    <i class="fa-solid fa-folder"></i>
                    <p>My Cloud</p>
                </button>
                <button>
                    <i class="fa-solid fa-square-share-nodes"></i>
                    <p>Shared</p>
                </button>
                <button>
                    <i class="fa-solid fa-file"></i>
                    <p>AllFiles</p>
                </button>
                <button>
                    <i class="fa-solid fa-star"></i>
                    <p>Favorites</p>
                </button>
                <button>
                    <i class="fa-solid fa-lock"></i>
                    <p>Private files</p>
                </button>
                <button>
                    <i class="fa-solid fa-trash-can"></i>
                    <p>Deleted files</p>
                </button>
            </div>
        </div>
        <div class="middle">
            <div class="newfile">Add File</div>
            <div class="filegrid">
                <div class="file">
                    <img src="../public/image/folder.png" alt="">
                    <p>Folder 1</p>
                </div>
                <div class="file">
                    <img src="../public/image/folder.png" alt="">
                    <p>Folder 2</p>
                </div><div class="file">
                    <img src="../public/image/folder.png" alt="">
                    <p>Folder 3</p>
                </div><div class="file">
                    <img src="../public/image/folder.png" alt="">
                    <p>Folder 4</p>
                </div><div class="file">
                    <img src="../public/image/folder.png" alt="">
                    <p>Folder 5</p>
                </div><div class="file">
                    <img src="../public/image/folder.png" alt="">
                    <p>Folder 6</p>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="right-nav">
                <img src="../public/image/doc_Ada.jpg" alt="">
                <button><i class="fa-solid fa-bell"></i></button>
                <button><i class="fas fa-gear"></i></button>
            </div>
            <div class="fileInfo"></div>

        </div>
    </div>
    
</body>
</html>