<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Structure de Dossier</title>
    <link rel="stylesheet" href="/css/doc.css" />
    <script src="/js/document.js" defer></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
  </head>

  <body>
    <div class="header">
      <h1>Ma Bande Fixe</h1>
    </div>
    <div class="content">
      <div class="left-side">
        <ul class="directory-structure">
          <li class="folder">
            <span class="folder-name">Projet</span>
            <ul class="folder-content">
              <li class="folder">
                <span class="folder-name">Images</span>
                <ul class="folder-content">
                  <li>image1.png</li>
                  <li>image2.jpg</li>
                </ul>
              </li>
              <li class="file">readme.txt</li>
              <li class="folder">
                <span class="folder-name">Docs</span>
                <ul class="folder-content">
                  <li>doc1.pdf</li>
                  <li>doc2.pdf</li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="folder">
            <span class="folder-name">Tests</span>
            <ul class="folder-content">
              <li class="file">test1.js</li>
              <li class="file">test2.js</li>
            </ul>
          </li>
        </ul>
      </div>
      <section class="middle">
        <div class="box-container">
          <div class="box">
            <i class="fas fa-folder"></i>
            <h3>Folder</h3>
            <a href="#" class="btn"
              >Plus d'info <span class="fas fa-chevron-right"></span
            ></a>
          </div>

          <div class="box">
            <i class="fas fa-folder"></i>
            <h3>Test</h3>
            <a href="#" class="btn"
              >Plus d'info <span class="fas fa-chevron-right"></span
            ></a>
          </div>

          <div class="box">
            <i class="fas fa-folder"></i>
            <h3>Essai</h3>
            <a href="#" class="btn"
              >Plus d'info <span class="fas fa-chevron-right"></span
            ></a>
          </div>

          <div class="box">
            <i class="fas fa-folder"></i>
            <h3>Consultations à distance</h3>
          </div>

          <div class="box">
            <i class="fas fa-folder"></i>
            <h3>Consultations à distance</h3>
            <p>
              Découvrez la commodité des consultations à distance, permettant un
              accès rapide et efficace aux conseils médicaux depuis le confort
              de votre domicile.
            </p>
            <a href="#" class="btn"
              >Plus d'info <span class="fas fa-chevron-right"></span
            ></a>
          </div>

          <div class="box">
            <i class="fas fa-folder"></i>
            <h3>Consultations à distance</h3>
            <p>
              Découvrez la commodité des consultations à distance, permettant un
              accès rapide et efficace aux conseils médicaux depuis le confort
              de votre domicile.
            </p>
            <a href="#" class="btn"
              >Plus d'info <span class="fas fa-chevron-right"></span
            ></a>
          </div>

          <div class="box">
            <i class="fas fa-folder"></i>
            <h3>Consultations à distance</h3>
            <p>
              Découvrez la commodité des consultations à distance, permettant un
              accès rapide et efficace aux conseils médicaux depuis le confort
              de votre domicile.
            </p>
            <a href="#" class="btn"
              >Plus d'info <span class="fas fa-chevron-right"></span
            ></a>
          </div>
        </div>
      </section>

      <div class="right-side">Contenu Droit</div>
    </div>
  </body>
</html>
