<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page de Connexion</title>
    <!-- Assurez-vous que le chemin d'accès est correct -->
    <link rel="stylesheet" href="/css/login.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
  </head>
  <body>
    <div class="container" id="container">
      <div class="form-container sign-up">
        <form id="signupForm">
          <h1>Create Account</h1>
          <div class="social-icons">
            <a href="/patient/random" class="icon">
              <i class="fa-brands fa-google-plus-g"></i>
            </a>
            <a href="/patient/random" class="icon">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="/patient/random" class="icon">
              <i class="fa-brands fa-github"></i>
            </a>
          </div>
          <div class="form-group">
            <i class="fa fa-user icon"></i>
            <input
              type="text"
              id="nameUp"
              name="name"
              placeholder="Name"
              required
            />
          </div>
          <div class="form-group">
            <i class="fa fa-at icon"></i>
            <input
              type="email"
              id="emailUp"
              name="email"
              placeholder="Email"
              required
            />
          </div>
          <div class="form-group">
            <i class="fa fa-lock icon"></i>
            <input
              type="password"
              id="passwordUp"
              name="password"
              placeholder="Mot de passe"
              required
            />
          </div>
          <div class="wrapper">
            <input type="radio" name="select" id="option-1" checked />
            <input type="radio" name="select" id="option-2" />
            <label for="option-1" class="option option-1">
              <div class="dot"></div>
              <p>Doctor</p>
            </label>
            <label for="option-2" class="option option-2">
              <div class="dot"></div>
              <p>Patient</p>
            </label>
          </div>
          <button>Sign Up</button>
        </form>
      </div>

      <div class="form-container sign-in">
        <form class="login-form" id="loginForm">
          <h1>Log in</h1>
          <div class="social-icons">
            <a href="#" class="icon">
              <i class="fa-brands fa-google-plus-g"></i>
            </a>
            <a href="#" class="icon">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="#" class="icon">
              <i class="fa-brands fa-github"></i>
            </a>
          </div>
          <span>or use your email password</span>
          <div class="form-group">
            <i class="fa fa-user icon"></i>
            <input
              type="email"
              id="emailIn"
              name="email"
              placeholder="Email"
              required
            />
          </div>
          <div class="form-group">
            <i class="fa fa-lock icon"></i>
            <input
              type="password"
              id="passwordIn"
              name="password"
              placeholder="Mot de passe"
              required
            />
          </div>
          <a href="" id="forgotPw">Forget Your Password?</a>
          <button type="submit" class="btn">Sign in</button>
        </form>
      </div>
      <div class="toggle-container">
        <div class="toggle">
          <div class="toggle-panel toggle-left">
            <h1>Welcome Back!</h1>
            <p>Enter your personal details to user the site</p>
            <button class="hidden" id="login">Sign In</button>
          </div>
          <div class="toggle-panel toggle-right">
            <h1>Hello, Friends!</h1>
            <p>Register your infos</p>
            <button class="hidden" id="register">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="/js/login.js"></script>
</html>
