<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ... -->
</head>
<body>
    <section class="patients" id="patient">
        <h1 class="heading">Your <span>patients</span></h1>
        <div class="box-container">
            <% patients.forEach(patient => { %>
                <div class="box">
                    <img src="<%= patient.image %>" alt="">
                    <h3><%= patient.patientname %></h3>
                    <span>Patient</span>
                    <!-- ... vos autres éléments de données de patient ... -->
                </div>
            <% }) %>
        </div>
    </section>
</body>
</html>
