<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Profil Créé</title>
    <link rel="stylesheet" href="/css/random.css" />
  </head>
  <body>
    <div class="profile-container">
      <h1>Profil Créé avec Succès!</h1>
      <div class="profile-info">
        <img
          src="<%= image %>"
          alt="Photo de <%= doctorName %>"
          class="profile-image"
        />
        <p><strong>Nom :</strong> <%= doctorName %></p>
        <p><strong>Email :</strong> <%= email %></p>
      </div>
    </div>
  </body>
</html>
