@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=inline=swap');

* {
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
}

body {
    margin: 0; 
}

button {
    border: transparent;
    padding: 0;
}

.whole {
    background-color: grey;
    display: flex;
    /* flex-shrink: ; */
    width: 100%;
    height: 1000px;
}

.left {
    background-color: rgb(22, 21, 21);
    height: 100%;
    width: 20%;
    max-width: 250px;
    padding: 10px;
}



.left .logo {
    width: 100%;
    height: 25%;
}

.left .logo img {
    max-height: 100%;
    max-width: 100%;
}

.left .menu {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.left .menu button {
    border-radius: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 5px 0;
    background: none;
    border: transparent;
    padding-left: 70px;
    position: relative;
}

.left .menu button p {
    color: white;
    font-size: larger;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.left .menu button i {
    color: #817e7e;
    margin: 0 10px;
    font-size: 20px;
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-55%);
}

.left .menu button:hover {
    background-color: rgba(112, 56, 138, 0.856);
}


/********* middle *********/
.middle {
    height: 100%;
    width: 60%;
    background-color: #ebebeb; 
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-items: center;
}

.middle .newfile button {
    background-color: rgba(255, 209, 183, 0.658);
    color: #cccccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px; 
    width: 40px;
    /* padding: 5px; */
}

.middle .newfile button i {
    color: #31157F; 
    /* height: 32px;
    width: 32px; */
    /* line-height: 32px; */
    /* display: block; */ 
    font-size: 230%;  
}

.middle .newfile {
    background-color: rgb(206, 206, 206); 
    padding: 15px;
    flex: 5%; 
    display: flex;
    gap: 10px;
    /* justify-content: center; */
    align-items: center;
}

.middle .filegrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    gap: 1.5rem;
    padding: 15px;
    flex: 90%; 
}

.middle .filegrid .file {
    width: 140px;
    height: 140px;
    background-color: white;
    margin: auto;
    padding: 10px; 
    border-radius: 10%;
    position: relative;
}

.middle .filegrid .file img {
    width: 60%;
    height: auto;
}

.middle .filegrid .file p {
    margin: 10px;
}

.middle .filegrid .file::before {
    content: '';
    position: absolute;
    left: 0;
    top: 65%;
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.7);
}

.middle .filegrid .file:hover {
    background-color: #887f7f;
}

.middle  .filegrid.file:hover p {
    color: white;
    font-family: "Sedan SC", serif;
}

.middle .filegrid .file:hover img {
    width: 70%;
}



/********* right *********/
.right {
    /* background-color: red; */
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.right .right-nav {
    flex: 5%;
    background-color: #ccc;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    align-items: center;
    border-bottom: white 1px solid; 
}

.right .right-nav img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.right .right-nav button {
    margin: 0 10px;
    border: transparent;
    cursor: pointer;
    background-color: #cccccc6e; 
    width: 30px;
    height: 30px; 
    /* border-radius: 50%; */
}

.right .right-nav button:hover {
    background-color: #cccccc;
}

.right .right-nav i {
    /* padding: 10px; */
    font-size: 120%; 
}

.right .fileInfo {
    flex: 90%;
    background-color: #ccc;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center;  */
}

.right .fileInfo .document {
    width: 100%;
    /* height: 100%; */
}

.right .fileInfo .document img {
    display: block;
    margin: auto;
    width: 50%;
    height: auto;
}

.right .fileInfo .doc-button button {
    border-radius: 50%;
    margin: 10px;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #e7dfdf;
}

.right .fileInfo .doc-button i {
    font-size: 20px;
    /* marg */
}